body{
    background: #000;
}
.kf-table-wrap{
    position: relative;
    width: 1920px;
    margin: 0 auto;
}
.kf-table-header-img-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.kf-table-header-img-wrap img.kf-table-header-bg{
    width: 100%;
    height: 100%;
}
img.kf-table-header-img{
    /*position: absolute;
    top: 0;
    left:0;*/
    width: 1920px;
    height: 904px;
}
img.kf-table-header-pig{
    position: absolute;
    top: 0px;
    width: 1052px;
    left: -124px;
    display: none;
}
/*猪动画*/
.pig-animate-bg{
    position: absolute;
    top: 0px;
    left: 128px;
    width: 902px;
    height: 641px;
}
.pig-animate-wrap{
    position: absolute;
    top: 54px;
    width: 815px;
    height: 694px;
    left: 43px;
}
.pig-animate{
    background: url(../images/kf-table/pig-animate.png);
    width: 815px;
    height: 694px;
    animation: piganimate 2s 2s steps(30) infinite;
    margin: 0 auto;
    position: relative;
}
@keyframes piganimate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -3000% 0px;
    }
}
/*按钮动画*/
.kf-table-btn-animate-wrap{
    width: 370px;
    height: 107px;
}
.kf-table-btn-animate{
    width: 370px;
    height: 107px;
    background: url(../images/kf-table/btn-animate.png);
    animation: btnanimate 1.5s 2s steps(16) infinite;
    margin: 0 auto;
    position: relative;
}
@keyframes btnanimate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1600% 0px;
    }
}
/*头部下载按钮*/
.kf-table-header-btn-wrap{
    width: 370px;
    height: 107px;
    position: absolute;
    right: 37%;
    top: 47%;
}
.kf-table-header-btn{
    width: 370px;
    height: 107px;
    background: url(../images/kf-table/btn-nomal.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    display: none;
}
.kf-table-header-btn:hover{
    width: 370px;
    height: 107px;
    background: url(../images/kf-table/btn-hover.png) no-repeat;
    background-size: contain;
}
/*新人向导*/
.kt-new-guide-wrap{
    cursor: pointer;
    width: 87px;
    height: 106px;
    position: absolute;
    top: 424px;
    right: 607px;
}
.kt-new-guide-animate-wrap{
    cursor: pointer;
    width: 132px;
    height: 132px;
    position: absolute;
    top: -25px;
    right: -21px;
}
.kt-new-guide-animate{
    width: 132px;
    height: 132px;
    background: url(../images/kf-table/new-guide-animate.png);
    animation: newguideanimate 1s 2s steps(11) infinite;
    margin: 0 auto;
    position: relative;
}
@keyframes newguideanimate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1100% 0px;
    }
}
/*.kf-table-bg-img{
    width: 100%;
    height: 100%;
}*/
.kf-table-content-wrap{
    width: 1900px;
    height: 100%;
    margin: -312px auto 0 auto;
    position: relative;
    z-index: 3;
    /*margin: 0 0;
    position: absolute;
    top: 0;
    left: 0;*/
}
.kf-table-content{
    /*position: relative;*/
    width: 100%;
    height: 100%;
}
/*头部圈圈*/
.kf-table-header-wrap{
    width: 20%;
    height: 15%;
    position: absolute;
    right: 12%;
    top: 2.5%;
}
.kf-table-header-circle-wrap{
    position: relative;
    width: 100%;
    height: 100%;
}
.kf-table-header-circle1 img{
    width: 333px;
    height: 462px;

 }
.kf-table-header-circle2 img{
    width: 39%;
    height: 39%;
    margin: -25% 0 0 45%;
}
.kf-table-header-circle3 img{
    width: 35%;
    height: 35%;
    margin: -6% 0 0 21%;
}
.kf-table-header-circle4 img{
    width: 34%;
    height: 35%;
    margin: 1% 0 0 16%;
}
/*圈圈动画*/
.kf-circle-animate1-wrap{
    width: 176px;
    height: 176px;
    position: absolute;
    top: -36px;
    left: -37px;
}
.kf-circle-animate1{
    width: 256px;
    height: 256px;
    background: url(../images/kf-table/circle-animate.png) no-repeat;
    animation: rotation 3s linear infinite;
}
.kf-circle-animate2-wrap{
    width: 205px;
    height: 205px;
    position: absolute;
    top: 29px;
    right: 21px;
}
.kf-circle-animate2{
    width: 205px;
    height: 205px;
    background: url(../images/kf-table/circle-animate2.png) no-repeat;
    background-size: contain;
    animation: rotation 2s linear infinite;
}
.kf-circle-animate3-wrap{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 148px;
    right: 123px;
}
.kf-circle-animate3{
    width: 200px;
    height: 200px;
    background: url(../images/kf-table/circle-animate3.png) no-repeat;
    background-size: contain;
    animation: rotation 2s linear infinite;
}
.kf-circle-animate4-wrap{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 305px;
    right: 118px;
}
.kf-circle-animate4{
    width: 180px;
    height: 180px;
    background: url(../images/kf-table/circle-animate4.png) no-repeat;
    background-size: contain;
    animation: rotation 2s linear infinite;
}
@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
/*左边js实现翻转牌*/
.kf-table-left-position{
    position: relative;
}
.brand{
    position: absolute;
    top: 0;
    margin-left: 0;
}
.kf-table-left-wrap{
    width: 350px;
    height: 400px;
    margin-top: 50px;
    margin-left: -10px;
    /*position: absolute;
    top: 60%;
    left: 0;*/
}
.kf-table-left{
    width: 100%;
    height: 100%;
}
.kf-table-left-item{
    width: 370px;
    height: 413px;
    text-align: center;
    position: relative;
}
.kf-table-left-item .kf-table-left-turn{
    display: none;
    height: 413px;
    line-height:413px;
}
.kf-table-left-item img.prev-img{
    width: 370px;
    height: 413px;
    cursor: pointer;
}
img.kf-table-left-turn{
    width: 370px;
    height: 413px;
    cursor: pointer;
}

/*css实现翻转*/
.kf-table-left-flip{
    width: 370px;
    height: 413px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.kf-table-left-flip div{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility:hidden;	/* Chrome 和 Safari */
    -moz-backface-visibility:hidden; 	/* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer */
}
.kf-table-left-flip div.front{
    background: url(../images/kf-table/trun-img1.png) no-repeat;
    background-size: contain;
    z-index: 1;
}
/*.flip div:before{
    content:attr(data-text);
    width:100%;
    height:30px;
    position:absolute;
    left:0;
    bottom:0;
    line-height:30px;
    text-align:center;
    color:#fff;
    background-color:rgba(0,0,0,.3);
}*/
.kf-table-left-flip div.back{
    background: url(../images/kf-table/trun-img-11.png) no-repeat;
    background-size: contain;
    z-index: 2;
}
.kf-table-left-flip div.front1{
    background: url(../images/kf-table/trun-img-2.png) no-repeat;
    background-size: contain;
    z-index: 1;
}
.kf-table-left-flip div.back1{
    background: url(../images/kf-table/trun-img-22.png) no-repeat;
    background-size: contain;
    z-index: 2;
}
.kf-table-left-flip:hover div.front{
    z-index: 2;
}
.kf-table-left-flip:hover div.back{
    z-index: 1;;
}
.Y div.back{
    transform:rotateY(180deg);
}
.Y:hover div.front{
    transform:rotateY(-180deg);
}
.Y:hover div.back{
    transform:rotateY(0deg);
}
/*右边*/
.kf-table-right-wrap{
    width: 348px;
    height: 891px;
    margin-right: 40px;
    margin-top: -5px;
    /*position: absolute;
    top: 60.5%;
    right: 3%;*/
}
.kf-table-right{
    width: 100%;
    height: 100%;
}
.kf-table-right img{
    width: 100%;
}
/*中间表格*/
.kf-table-center-table-wrap {
    width: 1101px;
    /* height: 65%; */
    padding-bottom: 2px;
    margin-left: 40px;
}
.kf-table-center{
    width: 100%;
    height: 100%;
}
.kf-table-center-table{
    width:100%;
    table-layout: fixed
}
.kf-table-center-table .table-header-tr{
    height: 40px;
    line-height: 40px;
}
.kf-table-center-table th{
    background:#4d5c69;
    opacity: 0.9;
    color: #f4f3f1;
    height: 20px;
    line-height: 20px;
    font-family: sans-serif;
    position: relative;
    /*border-right: 1px solid #f4f3f1;*/
}
.kf-table-center-table th:after{
    position: absolute;
    right: 0;
    display: inline-block;
    content: '';
    height: 20px;
    width: 1px;
    background: #f4f3f1;
    vertical-align: text-top;
}
.kf-table-center-table th.th5:after{
    position: absolute;
    right: 0;
    display: inline-block;
    content: '';
    height: 20px;
    width: 0px;
    background: #f4f3f1;
    vertical-align: text-top;
}
.kf-table-center-table th.th1{
    width: 160px;
}
.kf-table-center-table th.th2{
    width: 123px;
}
.kf-table-center-table th.th3{
    width: 142px;
}
.kf-table-center-table th.th4{
    width: 508px;
}
.kf-table-center-table th.th5{
    width: 170px;
}
.kf-table-center-table th img{
    vertical-align: middle;

}
.kf-table-center-table tr.tr-color1{
    text-align: center;
    background: #efe97a;
    height: 45px;
    cursor: pointer;
}
.kf-table-center-table tr.tr-color1 td{
    border: 1px solid #c0a375;
    border-top: none;
    border-left: none;
}
.kf-table-center-table tr.tr-color1:hover{
    background:#fffed4;
}
.kf-table-center-table tr.tr-color1 td p{
    font-size: 12px;
}
.text-color1{
    color: #7d330e;
}
.text-color2{
    color: #f50101;
}
.text-style3-wrap{
    position: relative;
}
.text-style3-img{
    position: absolute;
    top: 0;
    right: 0;
}
.text-style3{
    width: 86%;
}
.text-style3-img{
    width: 58px;
    height: 31px;
}
.text-style3-img img{
    width: 100%;
}
.last-td img{
    width: 99px;
    height: 28px;
}

.text-style2-img{
    position: absolute;
    top: 2px;
    right: 0px;
}
.text-style2-img img{
    width: 100%;
}
.text-color3{
    color: #019f74;
}
.kf-table-center-table tr.tr-color2{
    background: #f6f2b9;
}
.text-color11{
    color: #515151;
}
.kf-table-center-table tr.tr-color3{
    background: #454545;
    height: 45px;
}
.kf-table-center-table tr.tr-color4{
    background: #e6e6e5;
}
.td-style3 img{
    width: 100%;
}
/*底部*/
.kf-table-footer-wrap{
    width: 1920px;
    height: 324px;
    position: relative;
    z-index: 3;
}
.kf-table-footer-wrap img{
    width: 100%;
}
.kf-table-footer{
    width: 1150px;
    margin: -260px auto 0 auto;
    position: relative;
}
.kf-table-footer-item1-left li{
    width: 130px;
    height: 50px;
    margin-right: 17px;
    float: left;
}
.kf-table-footer-item1-left li.kf-table-footer-item1-left1{
    background: url(../images/kf-table/footer.png) no-repeat;
    background-size: 100%;
    background-position: 0 10px;
}
.kf-table-footer-item1-left li.kf-table-footer-item1-left2{
    background: url(../images/kf-table/footer.png) no-repeat;
    background-size: 100%;
    background-position: 0 -40px;
    margin-left: -40px;
}
.kf-table-footer-item1-left1 li{
    float: left;
    margin-right: 56px;
    cursor: pointer;
}
.kf-table-footer-item1-left2 img{
    width: 90%;
    margin-left: 0;
}
.kf-table-footer-item1-left img{
    width: 100%;
}
.kf-table-footer-item1-left1 ul{
    margin-left: 18px;
}
.kf-table-footer-item1-left1 li.kf-table-footer-item1-left3{
    background: url(../images/kf-table/footer3.png) no-repeat;
    background-size: 100%;
    background-position: 0 1px;
}
.kf-table-footer-item1-left1 li.kf-table-footer-item1-left4{
    background: url(../images/kf-table/footer3.png) no-repeat;
    background-size: 100%;
    background-position: 0 -22px;
    margin-right: 30px;
}
.kf-table-footer-item1-left1 li.kf-table-footer-item1-left5{
    background: url(../images/kf-table/footer3.png) no-repeat;
    background-size: 100%;
    background-position: 0 -45px;
}
.kf-table-footer-item1-left1 li.kf-table-footer-item1-left6{
    background: url(../images/kf-table/footer3.png) no-repeat;
    background-size: 100%;
    background-position: 0 -67px;
}
.kf-table-footer-item1-left1 li.kf-table-footer-item1-left7{
    background: url(../images/kf-table/footer3.png) no-repeat;
    background-size: 100%;
    background-position: 0 -91px;
}
.CopyRight-text{
    font-size: 15px;
    color: #5b5b5b;
    font-weight: bold;
    margin-left: 17px;
    margin-top: 4px;
}
.kf-table-footer-item1-left8{
    width: 168px;
    height: 47px;
    background: url(../images/kf-table/footer4.png) no-repeat;
    background-size: 100%;
    background-position: 0 0px;
}
.kf-table-footer-item2{

}
.kf-table-footer-item2 ul{
    display: inline-block;
    margin: 20px 0 29px 128px;
}
.kf-table-footer-item2 li{
    float: left;
    width: 204px;
    height: 62px;
    cursor: pointer;
    margin: 0 10px;
}
.kf-table-footer-item2 li.kf-table-footer-item2-left1{
    background: url(../images/kf-table/footer4.png) no-repeat;
    background-size: 100%;
    background-position: 0 -50px;
}
.kf-table-footer-item2 li.kf-table-footer-item2-left2{
    background: url(../images/kf-table/footer4.png) no-repeat;
    background-size: 100%;
    background-position: 0 -119px;
}
.kf-table-footer-item2 li.kf-table-footer-item2-left3{
    background: url(../images/kf-table/footer4.png) no-repeat;
    background-size: 100%;
    background-position: 0 -193px;
}.kf-table-footer-item2 li.kf-table-footer-item2-left4{
     background: url(../images/kf-table/footer4.png) no-repeat;
     background-size: 100%;
     background-position: 0 -265px;
 }

 .kf-table-footer-item3 li{
     float: left;
     width: 110px;
     height: 29px;
     margin: 5px 12px;
 }
.kf-table-footer-item3 li.kf-table-footer-item3-left1{
    background: url(../images/kf-table/footer2.png) no-repeat;
    background-size: 100%;
    background-position: 0 0px;
}
.kf-table-footer-item3 li.kf-table-footer-item3-left2{
    background: url(../images/kf-table/footer2.png) no-repeat;
    background-size: 100%;
    background-position: 0 -26px;
}
.kf-table-footer-item3 li.kf-table-footer-item3-left3{
    background: url(../images/kf-table/footer2.png) no-repeat;
    background-size: 100%;
    background-position: 0 -52px;
}
.kf-table-footer-item3 li.kf-table-footer-item3-left4{
    background: url(../images/kf-table/footer2.png) no-repeat;
    background-size: 100%;
    background-position: 0 -79px;
}
.kf-table-footer-item3 li.kf-table-footer-item3-left5{
    background: url(../images/kf-table/footer2.png) no-repeat;
    background-size: 100%;
    background-position: 0 -104px;
}
.kf-table-footer-item3 li.kf-table-footer-item3-left6{
    background: url(../images/kf-table/footer2.png) no-repeat;
    background-size: 100%;
    background-position: 0 -131px;
}
.kf-table-footer-item3 li.kf-table-footer-item3-left7{
    background: url(../images/kf-table/footer2.png) no-repeat;
    background-size: 100%;
    background-position: 0 -159px;
}
.kf-table-footer-item3 li.kf-table-footer-item3-left8{
    background: url(../images/kf-table/footer2.png) no-repeat;
    background-size: 100%;
    background-position: 0 -183px;
}
.kf-table-footer-item3 ul{
    display: inline-block;
    margin-left: 5px;
}
.kf-table-footer-item4 ul{
    display: inline-block;
    margin-left: 196px;
}
.kf-table-footer-item4 li{
    float: left;
    width: 85px;
    height: 19px;
    margin: 5px 24px;
    cursor: pointer;
    /*border-right: 1px solid #5b5b5b;*/
}
.kf-table-footer-item1-left1 li img{
    width: 100%;
}
.kf-table-footer-item3 li img{
    width: 90%;
}
.kf-table-footer-item4 li img{
    width: 85%;
}
.kf-table-footer-item4 li.kf-table-footer-item4-left1{
    background: url(../images/kf-table/footer1.png) no-repeat;
    background-size: 100%;
    background-position: 0 -6px;
    border-right: none;
}
.kf-table-footer-item4 li.kf-table-footer-item4-left2{
    background: url(../images/kf-table/footer1.png) no-repeat;
    background-size: 100%;
    background-position: 0 -29px;
}
.kf-table-footer-item4 li.kf-table-footer-item4-left3{
    background: url(../images/kf-table/footer1.png) no-repeat;
    background-size: 100%;
    background-position: 0 -54px;
}
.kf-table-footer-item4 li.kf-table-footer-item4-left4{
    background: url(../images/kf-table/footer1.png) no-repeat;
    background-size: 100%;
    background-position: 0 -81px;
}
.kf-table-footer-item4 li.kf-table-footer-item4-left5{
    background: url(../images/kf-table/footer1.png) no-repeat;
    background-size: 100%;
    background-position: 0 -81px;
}
.kf-table-footer-item4 li.kf-table-footer-item4-left6{
    background: url(../images/kf-table/footer1.png) no-repeat;
    background-size: 100%;
    background-position: 0 -81px;
    border-right: none;
}
/*固定背景*/
.fixed-bg-wrap{
    width: 1920px;
    height: 1080px;
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -960px;
    z-index: 1;
}
.fixed-bg{
    width: 1920px;
    height: 1080px;
    background: url(../images/kf-table/body-bg.jpg) no-repeat;
}
